.song-thumbnail {
    width: 250px;
    height: 250px;
    opacity: 0.5;
    box-shadow: 0;
    transition: opacity 0.5s, box-shadow 0.5s;

    &:hover {
        opacity: 1;
        box-shadow: 10px 10px 12px 1px #000;
    }

    @media (max-width: 800px) {
        display: none;
    }
    @media (max-width: 1200px) {
        width: 150px;
        height: 150px;
    }
}

.hide { 
    visibility: hidden;
}