@import '../../main';

.map-view {

    .info-panel {
        margin: 0;
        position: relative;
        top: 5px;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;

            div {
                width: 15em;
                line-height: 2em;
                border-radius: 5px;
                margin: 0 auto;
                background-color: black;
                box-shadow: 0 0 2px 5px rgb(24, 23, 23);
                cursor: pointer;

                &:hover{
                    @include white-n-black;
                    border: none;
                    box-shadow: 0 0 2px 5px rgb(233, 227, 227);
                }
            }
        }
    }
}