.burger {
    background-color: #111;
    height: 100%;
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 0;

    & > div {
        background-color: white;
        border-radius: 5px;
        height: 5px;
        width: 35px;
    }
}