@import './../../../main';

.layout {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto 2rem;
    grid-template-areas: "header"
                        "main"
                        "footer";
}

@media (max-width: 640px) {
    .layout {
        grid-template-rows: 3rem auto 2rem;

        .content {
            @include column-flex;
            align-items: center;
        }
    }
}

.toolbar {
    grid-area: header;
    background-color: map-get($colors, "theme-black");
}

.content {
    grid-area: main;
}

.footer {
    grid-area: footer;
    @include white-n-black;

        a {
            text-decoration: none;
            color: map-get($colors, "theme-black");
            vertical-align: middle;
        }
}