@import './../../../main';

.layout {
    min-height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 8vh auto minmax(2vh, 3vh);
    grid-template-areas: "header header header header"
                        "main main main main"
                        "footer footer footer footer";
}

@media (max-width: 520px) {
    .layout {
        @include column-flex;
        align-content: stretch;
        overflow: auto;

        .toolbar {
            height: 50px;
        }

        .content {
            @include column-flex;
            justify-content: center;
        }
    }
}

.toolbar {
    grid-area: header;
    background-color: black;
}

.content {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: white;
    color: black;

        a {
            text-decoration: none;
            color: black;
        }
}