@import '../../../main';

.modal-main {
  position: fixed;
  z-index: 100;
  background-color: map-get($colors, "theme-white");
  padding: 1rem;
  min-height: 15%;
  max-height: 80%;
  border: 1px solid map-get($colors, "theme-grey");
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;  
  transition: all 0.3s ease-out;
  overflow: auto;
  border-radius: 10px;

  .btnClose {
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
  }
  
  @media (min-width: 320px) {
   width: 340px;
  }

  @media (min-width: 480px) {
    width: 450px;
  }

  @media (min-width: 720px) {
    width: 700px;
  }

  @media (min-width: 900px) {
    width: 880px;
  }
}

.small {
  width: 340px;
}

.medium {
  width: 450px;
}

.large {
  width: 640px;
}