.task-creator {
    h3 {
        margin-top: 0;
    }
    
    .form {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 40%);
        grid-row-gap: 1em;
        justify-content: center;
        min-height: 250px;
        @media (max-width: 800px) {                
            min-height: 400px;
            grid-template-columns: repeat(4, 20%);
            align-items: stretch;
            justify-content: center;
            row-gap: 0.5em;
            justify-content: center;
            label {
                grid-column: 1/5;
                place-self: center;
            }
            input {
                grid-column: 1/5;
                border: 1px solid #ccc;
    
                &#color{
                    grid-column: 1/5;
                    justify-self: center;
                    width: 50%;
                    align-self: center;
                }
            }
        }   
        
        #color {
                width: 100%;
                justify-self: center;
            }

        button {
            grid-column: 1/5;
            justify-self: center;
            font-weight: bold;
            @media (min-width: 800px) {                
                width: 20%;
                grid-column: 1/3;
            }
        }
    }
}