.task-creator {
    h3 {
        margin-top: 0;
    }

    .form {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 40%);
        grid-row-gap: 1em;
        justify-content: center;

        button {
            grid-column-start: 1;
            grid-column-end: 3;
            justify-self: center;
        }
    }
}