.group {
    width: 90%;
    margin: 1% 0;
    cursor: pointer;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

.group-info {
    font-weight: bold;;
    min-width: 90%;
    padding: 10px 12px;
    background-color: salmon;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}