@import "../../../main";

.input {
    padding: 5px;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

.input-element {
    border-radius: 3px;
    border: 1px solid map-get($colors, "ccc");
    padding: 6px 10px;

    &:focus {        
    background-color: map-get($colors, "ccc");
    }
}

.invalid {
    border: 2px solid map-get($colors, "red");
    background-color: map-get($colors, "orange");
}

.validation-error {    
    color: map-get($colors, "red");
    margin: 5px 0;
}