.summary {
    max-width: 30%;
    position: absolute;
    top: 1em;
    right: 0.5em;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .point {
        display: flex;
        flex-direction: row;
    }
}