@import '../../../../main';

.group {
    width: 90%;
    margin: 1% 0;
    cursor: pointer;
}

.group-info {
    @include black-n-white;
    @include column-flex;
    font-weight: bold;;
    min-width: 90%;
    padding: 10px 12px;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
        background-color: map-get($colors, "theme-brownish");
    }
}