.slideshow-container {
    position: relative;
    width: 100%;

    .my-slides {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 80px;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;      
        color: #ccc;  
        background: none;
        border: none;
        font-weight: bold;
        font-size: 40px;
        border-radius: 0 3px 3px 0;
    
        &:hover {
            color: #000;
        }
    }

    .prev {
            left: 1%;
        @media (min-width: 800px) {
            left: -2%;
        }
        @media (min-width: 1200px) {
            left: -3%;
        }
        @media (min-width: 1400px) {
            left: 5%;
        }
    }
    
    .next {
        position: absolute;
        border-radius: 3px 0 0 3px;
        
        right: 1%;
        @media (min-width: 800px) {
            right: -2%;
        }
        @media (min-width: 1200px) {
            right: -3%;
        }
        @media (min-width: 1400px) {
            right: 5%;
        }
    }
}

