.song-thumbnail {
    width: 250px;
    height: 250px;
    opacity: 0.5;
    transition: opacity 1s;

    &:hover {
        opacity: 1;
        transition: opacity 1s;
    }

    @media (max-width: 800px) {
        display: none;
    }
    @media (max-width: 1200px) {
        width: 150px;
        height: 150px;
    }
}

.hide { 
    visibility: hidden;
}