$colors: ("theme-brownish": rgb(50, 50, 50), "theme-grey": #ccc,
            "orange": #fda409, "red": #f00, "theme-white": white, "theme-black": black,
            "theme-dark": #111, "theme-bright": #f1f1f1);

@mixin rgbaVal($color-property, $value, $alpha) {
    #{$color-property}: rgba($value, $alpha)
}

@mixin column-flex {
    display: flex;
    flex-direction: column;
}

@mixin justify-align-center {
    @include column-flex;
    align-items: center;
    justify-content: center;
}

@mixin white-n-black {
    background-color: map-get($colors, "theme-white");
    color: map-get($colors, "theme-black");
}

@mixin black-n-white {
    background-color:map-get($colors, "theme-black");
    color: map-get($colors, "theme-white");
}