@mixin column-flex {
    display: flex;
    flex-direction: column;
}

@mixin justify-align-center {
    @include column-flex;
    align-items: center;
    justify-content: center;
}

@mixin white-n-black {
    background-color: white;
    color: black;
}

@mixin black-n-white {
    background-color: black;
    color: white;
}