.tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        font-size: 1rem;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;

        &::after {
          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: black transparent transparent transparent;
        } 
        
         @media (max-width: 800px) {
          display: none;
      }
      }

      &:hover {
        .tooltiptext {
        visibility: visible;
        opacity: 1;
        }
      }

  }

  
