@import '../../../../main';

.side-nav { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: map-get($colors, "theme-dark");
    transition: 0.5s;
    padding-top: 60px;
    overflow-x: hidden;

    a {
        padding: 8px 0;
        text-decoration: none;
        font-size: 25px;
        color: map-get($colors, "theme-grey");
        display: block;
        transition: 0.3s;

        &:hover {
            color: map-get($colors, "theme-bright");
        }
    }

    .close-btn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}